{
    "plugins": [
        "node"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "env": {
        "mocha": true
    },
    "rules": {
        "semi": 2
    }
}