nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav[data-toggle="toc"] {
    top: 42px;
}
  
@media (max-width: 768px) {
    nav[data-toggle="toc"] {
        margin-bottom: 42px;
        position: static;
    }

    nav[data-toggle="toc"] .nav .active .nav {
        display: none;
    }
}